/* 
    Created on : Mar 8, 2014, 10:50:22 PM
    Author     : Andrew Lincoln
    Description: Styles for splash page
*/

/*
 *          Color Pallette
 * Dark Green   :       #24420e
 * Light Green  :       #008142
 * Orange       :       #f7941d
 * Earth Brown  :       #5b3b00
 * Light Blue   :       #3cc1c9
 * Red Brown    :       #8b4424
 * Grey         :       #bbb9be
 * Black        :       #000108
 *
 */



body {
    background-color: #bbb9be;
    background-image: url(img/roots-website-background.png);
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}

a {
    color:#24420e;
    display: inline;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h1 {
    color: #8b4424;
    font-size: 2em;
    font-family: 'Port Lligat Slab', serif;
    text-align: center;
}

header {
    display: block;
    height: 125px;
    position: relative;
}

input {
    display: block;
    font-size: 18px;
    margin-top: 10px;
    width: 100%;
}

li {
    display: inline;
}

p {
    font-family: 'Roboto', sans-serif;
}

#accountLinks {
    display: inline;
    float: right;
    padding: 10px;
}

#body {
    margin:0px auto;
    min-height: 600px;
}

#loginform {
    width: 33%;
    min-width: 280px;
    vertical-align: top;/*Fix for different     height elements*/
    margin-bottom: 10px;
    display: inline-block;
}

#logo {
    display:inline;
}

#main {
    background-color: #bbb9be;
    border: black solid;
    border-radius: 1px;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 200px;
    min-width: 300px;
    text-align: center;
    vertical-align: middle;
}

#registerForm {
    width: 33%;
    min-width: 280px;
    vertical-align: top;
    margin-bottom: 10px;
    display: inline-block;
}

.small-button {
    font-size: .8em !important;
}

.wrapper {
    display: inline-block;
}