/* 
	Created on  : Feb 12, 2014
	Author      : Daniel Kolsoi
	Description : Style sheet for the roots web app.
*/

/*
 *          Color Pallette
 * Dark Green   :       #24420e
 * Light Green  :       #008142
 * Orange       :       #f7941d
 * Earth Brown  :       #5b3b00
 * Light Blue   :       #3cc1c9
 * Red Brown    :       #8b4424
 * Grey         :       #bbb9be
 *
 */

html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	overflow: hidden;
}

#topDiv {
	border: 1px solid black; /* Just here to see where div is */
        height: 7%;
	width: 100%;
}

#title {
    font-family: 'Port Lligat Slab', serif;
}

#leftDetail {
	border: 1px solid black; /* Just here to see where the panel is */
	display: inline-block;
	position: relative;
	height: 100%;
        width: 25%;
}

#canvas {
	border: 1px solid black; /* Just here to see where canvas is */
	display: inline-block;
	position: absolute;
}

#rightDetail {
	display: none;
}
